  <%# @event_sjsus.each do |event_sjsu| %>
  <div class="panel panel-default">
  	<div class="panel-heading">
  		<h2 class="panel-title"><%= link_to event_sjsu.title, event_sjsu %></h2>
  	</div>
  	
  	<div class="panel-body">
  		<p><i><%= friendly_date event_sjsu.created_at %></i></p>
  		<p><%= event_sjsu.body %></p>
  		<p>
    		<%= link_to 'Edit', edit_event_sjsu_path(event_sjsu) %>
    		<%= link_to 'Destroy', event_sjsu, method: :delete, data: { confirm: 'Are you sure?' } %>
  		</p>
  	</div>
  </div>
<%# end %>